h3 {
    color: aqua;
    font-size: 8px;
    font-weight: lighter;
}
img { 
    width: 150px;
}
a {
    font-size: 14px;
    color: gray;
}
li {
    font-weight: bold;
    color: blueviolet;
    font-size: 12px;
}
/*Este é um exemplo de como criar um circulo com CSS*/
div {
    border-radius: 50%;
    width: 75px;
    height: 75px;
    background-color: rgb(156, 137, 111);
    border: 1px solid black;
}
.texto1 {
    font-size: 10px;
    margin-left:1px;
    margin-top: 20px;
    text-align:center
}